name: Build Apple Plugin
on: [workflow_dispatch] # Allows you to click a button to start

jobs:
  build:
    runs-on: macos-latest
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Run Build Script
        run: python3 build.py
        
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: AppleUnityPlugins-Built
          path: Build/*.tgz
